name: Build, Test & Upload

on:
  push:
    branches:
      - master
      - 'scroll/**'
      - 'parser/**'
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [17, 21]
        # and run on both Linux and Windows
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "current"
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
      - name: build
        run: gradle build
      - name: run tests
        run: gradle test
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '21' }} # Only upload artifacts built from latest java on one OS
        uses: actions/upload-artifact@v4
        with:
          name: skript-nightly
          path: build/libs/
